<form action="{% url 'post_device_form' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ device_form.name|as_crispy_field }}
    <table>
      <th style="width:85%;font-weight:normal;"class="sliderColumn">
         {{ device_form.ram|attr:"id:ramSlider"|attr:"onchange:updateLabel(this.value,'ramValue')"|attr:"type:range"|attr:"class:custom-range"|attr:"min:1"|attr:"max:4096"|as_crispy_field }}
      </th>
      <th>
         <input type="text" onkeyup="updateLabel(this.value,'ramSlider')" style="margin-top:25px;margin-left:10px;"class="form-control" id="ramValue">
      </th>
    </table>
    <table>
      <th style="width:85%;font-weight:normal;"class="sliderColumn">
        {{ device_form.disk_size|attr:"id:diskSizeSlider"|attr:"onchange:updateLabel(this.value,'diskSizeValue')"|attr:"type:range"|attr:"class:custom-range"|attr:"min:1"|attr:"max:50"|as_crispy_field}}
      </th>
      <th>
         <input type="text" onkeyup="updateLabel(this.value,'diskSizeSlider')" style="margin-top:25px;margin-left:10px;"class="form-control" id="diskSizeValue">
      </th>
    </table>
    <table>
      <th style="width:85%;font-weight:normal;"class="sliderColumn">
        {{ device_form.cpus|attr:"id:cpusSlider"|attr:"onchange:updateLabel(this.value,'cpusValue')"|attr:"type:range"|attr:"class:custom-range"|attr:"min:1"|attr:"max:4"|as_crispy_field}}
      </th>
      <th>
         <input type="text" onkeyup="updateLabel(this.value,'cpusSlider')" style="margin-top:25px;margin-left:10px;"class="form-control" id="cpusValue">
      </th>
    </table>
    <input type="hidden" name="next" value="{{ request.path }}"/>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</div>
<script>
    function updateLabel(val, element)
    {
      document.getElementById(element).value = val;
    }
    function updateSlider(val, slider)
    {
      document.getElementById(slider).value = val;
    }
  </script>
  