<nav class="navbar navbar-light" style="height: 20px;">
    <a class="navbar-brand" href="#">
      {% load static %}
      <img src="{% static 'logos/uoh-black.svg' %}" width="90" height="40" alt="">
      {% if user.is_authenticated %}
        <button class="btn btn-primary" onclick="window.location.href='{% url 'logout' %}';">Logout</button>
      {% else %}
        <button class="btn btn-primary" onclick="window.location.href='{% url 'login' %}';">Login</button>
      {%endif%}
    </a>
  </nav>