<div class="modal fade" id="ethernet_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Ethernet Cable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_network_bridge' %}" method="POST" onsubmit="" enctype="multipart/form-data">
          <table>
            <th style="width:50%;font-weight:normal;margin-right: 10px;">
              <select id="device_one" class="form-control">
                <!-- js automates options here -->
              </select>
            </th>
            <th>
              <select name="device_one_ethernet" class="form-control">
                <option disabled name='option'>Choose an Ethernet Port...</option>
              </select>
            </th>
          </table>
          <table>
            <th style="width:50%;font-weight:normal;margin-right: 10px;">
              <select id="device_two"class="form-control">
                <!--
                {% for device in devices %}
                  <option name='option'id={{device.id}}>{{device.name}}</option>
                {% endfor %}
                 -->
              </select>
            </th>
          </table>
          <input id="submit_ethernet_cable" type="submit" value="Submit" class="btn btn-primary"/>
        </form>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  var data = {{devices|safe}}

  var device_one = document.getElementById('device_one');
  var device_two = document.getElementById('device_two');

  var i;
  for(i = 0; i < data.length; i++){
    var device = data[i].fields;
    console.log(device.name);
    var opt = document.createElement("option");
    opt.text = device.name;
    opt.value = device.cell_id; // cell_id is used to query mxgraph's database of cells and connect ethernet cables to the correct cell
    device_one.appendChild(opt);
    device_two.add(opt);
  }

  console.log(device_one);
  console.log(device_two);

  function validateEthernetCable()
  {

  }
</script>
