{% load crispy_forms_tags %}
<div class="modal fade" id="mymodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'upload_image' %}" method="POST" onsubmit="return validateImageForm()" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="hidden" name="next" value="{{ request.path }}"/>
          <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  function validateImageForm()
  {
    var image = document.getElementById('id_disk_image').value;
    var name = document.getElementById('id_name').value;
    if(image.toLowerCase().match(/.(iso|qcow2)$/)){
      return true
    }
    else{
      alert('Disk Image is not of valid format');
      return false;
    }
    if(!validateName(name)){
      alert('Disk Image name already in use');
      return false;
    }
  }
  function validateName(name)
  {
    $.ajax({
      url: "get_devices",
      async: false,
      success: function(result){
        var images = result['disk_images'];
        var i;
        for(i=0;i<images.length;i++){
          image_name = images[i].name;
          if(image_name == name){
            return true;
          }
        }
        return false;
      }
    });

  }
</script>
