<div class="modal fade" id="ethernet_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Ethernet Cable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_network_bridge' %}" method="POST" onsubmit="" enctype="multipart/form-data">
          <label for="ethernet_name">Cable Name</label>
          <input type="text" id="ethernet_name"></input>
          <table>
            <th style="width:50%;font-weight:normal;margin-right: 10px; margin-top: 10px;">
              <label for="device_one">Source Device</label>
              <select id="device_one" class="form-control">
                <!-- js automated options here -->
              </select>
            </th>
            <th>
              <select name="device_one_ethernet" class="form-control">
                <option disabled name='option'>Choose an Ethernet Port...</option>
              </select>
            </th>
          </table>
          <table>
            <th style="width:50%;font-weight:normal;margin-left: 10px; margin-top: 10px;">
              <label for="device_two">Target Device</label>
              <select id="device_two" class="form-control">
                <!-- js automated options here -->
              </select>
            </th>
            <th>
              <select name="device_two_ethernet" class="form-control">
                <option disabled name='option'>Choose an Ethernet Port...</option>
              </select>
            </th>
          </table>
          <input id="submit_ethernet_cable" type="submit" value="Submit" class="btn btn-primary"/>
        </form>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  var devices = JSON.parse('{{ devices|safe }}')
  console.log(devices);
  var device_one = document.getElementById('device_one');
  var device_two = document.getElementById('device_two');
  var i;
  for(i=0;i<devices.length;i++){
    var device = devices[i].fields;
    console.log(device.name);
    //new Option(text, value) value is cell_id as that's what will be needed to query both the django and the mxgraph databases.
    device_one.add(new Option(device.name, device.cell_id));
    device_two.add(new Option(device.name, device.cell_id));
  }
  function validateEthernetCable()
  {

  }
</script>
