{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

</head>
<body data-spy="scroll" data-target="#toc" class='py-4'>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-3">
        <nav id="toc" data-toggle="toc" class='sticky-top'></nav>
      </div>
      <div class="col-sm-9">
        <h1>Get Started With Beekeeper</h1>
        <p class='lead'>This user guide will get you familiar with Beekeeper's functions through a tour of the UI as well as basic admin activities</p>
        <h2>Overview</h2>
        <p>Beekeeper is a network emulation tool which enables for the configuration of devices and networks within a virtualised domain. Images are uploaded by the user and they can be used to create devices. This guide can serve as a help page or a starting point for new users.</p>
        <h2>User Management</h2>
        <p>To control who can access the software, a login system has been implemented to enable/disable access to select users:</p>
        <img src="{% static 'get_started_guide/login_page.PNG' %}">
        <p>If this is a first install of the software, On your server you'll need to create a user in the CLI of the software, navigating to the <code>Beekeeper-WebUI</code> directory and creating a superuser like so:</p>
        <samp>$ cd ~/Beekeeper-WebUI</samp>
        <samp>$ source venv/bin/activate</samp>
        <samp>$ cd beekeeper_webui/</samp>
        <samp>$ python manage.py createsuperuser</samp>
        <p>You'll then be prompted to enter your credentials like below: </p>
        <img src="{% static 'get_started_guide/credentials.PNG' %}">
        <h3>Adding A User</h3>
        <p>To create any more users, you'll need to navigate to</p>
        <p id='window_location'></p>
        <h3>Removing a User</h3>
        <h2>Main Screen</h2>
        <h3>Toolbars</h3>
        <h3>Sidebar</h3>
        <h3>Main Canvas</h3>
        <h2>Forms</h2>
        <h3>Image Upload/Removal</h3>
        <h3>Device Creation</h3>
        <h2>Device/Context Menus</h2>
        <h3>Telnet/VNC</h3>
      </div>
    </div>
  </div>
</body>
<script>
  host = window.location.host
  document.getElementById('window_location').innerText = `http://${host}/admin`
</script>
