{% load static %}
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

</head>
<body data-spy="scroll" data-target="#toc" class='py-4'>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-3">
        <nav id="toc" data-toggle="toc" class='sticky-top'></nav>
      </div>
      <div class="col-sm-9">
        <h1>Get Started With Beekeeper</h1>
        <p class='lead'>This user guide will get you familiar with Beekeeper's functions through a tour of the UI as well as basic admin activities</p>
        <h2>Overview</h2>
        <p>Beekeeper is a network emulation tool which enables for the configuration of devices and networks within a virtualised domain. Images are uploaded by the user and they can be used to create devices. This guide can serve as a help page or a starting point for new users.</p>
        <h2>User Management</h2>
        <h3>Initial Setup</h3>
        <p>To control who can access the software, a login system has been implemented to enable/disable access to select users when typing in your hostname in the browser:</p>
        <img style="padding: 10px;" src="{% static 'get_started_guide/login_page.PNG' %}"/>
        <p class='pSpacing'>If this is a first install of the software, On your server you'll need to create a user in the CLI of the software, navigating to the <code>Beekeeper-WebUI</code> directory and creating a superuser like so:</p>
        <kbd>
         $ cd ~/Beekeeper-WebUI<br />
          $ source venv/bin/activate<br />
          $ cd beekeeper_webui/<br />
          $ python manage.py createsuperuser<br />
        </kbd>
        <p class='pSpacing'>You'll then be prompted to enter your credentials like below: </p>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/credentials.PNG' %}"/>
        <p class='pSpacing'>And you have successfully created new user for your beekeeper! Head over to the main screen section or the Adding/Removing users section below to setup more users.</p>
        <br />
        <h3>Adding/Removing Users</h3>
        <p>To create any more users, you'll need to navigate to</p>
        <p id='window_location'></p>
        <p>You'll be presented with a login screen. You can use the credentials created in the user management section to gain access to the admin portal:</p>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/django_admin_screen.PNG' %}"/>
        <p class='pSpacing'>The disk images can be uploaded via the main screen itself and can be added/removed later. Clicking <code>change</code> gives you an overview of all the users in your system.</p>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/change_user_screen.PNG' %}"/>
        <p class='pSpacing'>You will be able to add a new user in the top right corner, which produces a new form.</p>
        <p>Alternatively, clicking on one of the names within the change users screen i.e Sam or SamTheMan brings you to a seperate form. Here, you'll be able to delete it or amend the user's details.</p>
        <p></p>
        <h2>Main Screen</h2>
        <p>The screen provides the core functionality of Beekeeper - to create your network topology!</p>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/main_screen.PNG' %}"/>
        <ol class='pSpacing'>
          <li>Navigation Bar And Toolbar - For virtual machine operations plus additional features to assist the user in constructing their network</li>
          <li>Sidebar - lists all the available devices that can be created</li>
          <li>Main Canvas - For network topologies to be drawn out. </li>
        </ol>
        <p class='pSpacing'>This section will go into more detail on each function below.</p>
        <h3>Toolbars</h3>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/toolbar.PNG' %}"/>
        <ol class='pSpacing'>
          <li>Navigation Bar - Enables for the upload of disk images and access to the user guide</li>
          <li>Ethernet Cable and Labels - Can be dragged onto the canvas to create ethernet cabling and labels respectively</li>
          <li>Start/Stop selected devices - ctrl+click for multiple devices, select none to start/stop all the devices on the canvas</li>
          <li>Zoom in/out - Zoom in/out of the canvas, makes it look bigger/smaller</li>
        </ol>
        <h3>Sidebar</h3>
        <div class='row'>
          <div class='col-sm-4'>
            <img style="padding: 10px;"  src="{% static 'get_started_guide/sidebar.gif' %}"/>
          </div>
          <div class='col-sm-8'>
            <ol class='pSpacing'>
              <li>Sidebar contains all the devices which have been uploaded through the program. These can be .iso files (Disk Images) or a virtual hard disk such as a .qcow2 file</li>
              <li>Search function at the top allows a device to be searched by their name, as displayed below each icon, or by their function. Available device options that can be searched are displayed below:</li>
              <table class='table pSpacing'>
                <thead>
                  <tr>
                    <th>Option</th>
                    <th>Device Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>router</td>
                    <td>router</td>
                  </tr>
                  <tr>
                    <td>pc</td>
                    <td>pc</td>
                  </tr>
                  <tr>
                    <td>switch</td>
                    <td>switch</td>
                  </tr>
                  <tr>
                    <td>mlswitch</td>
                    <td>multi-layer switch</td>
                  </tr>
                    <td>server</td>
                    <td>server</td>
                </tbody>
              </table>
              <li>To create a device, they are dragged from the sidebar onto the canvas</li>
            </ol>
          </div>
        </div>
        <h3>Main Canvas</h3>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/main_canvas.gif' %}"/>
        <p class='pSpacing'>Aside from the ability to draw networks, key bindings enable for devices and ethernet cables to be deleted using the <code>del</code> key. The graph itself can be dragged around by holding down the right click button and moving the mouse around. Devices and labels can be dragged around too. A confirmation message should appear in the top right-hand corner.</p>
        <p>Further to this, a device also has a status light showing green if its online and red if not. There's also a grey status light; this means that: </p>
        <ul>
          <li>The device does not exist, or</li>
          <li>There has been a permission error in the host OS whilst retrieving the status of a device</li>
        </ul>
        <h2>Forms</h2>
        <h3>Image Upload/Removal</h3>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/upload_disk_image.gif' %}"/>
        <p>Uploading a disk image can be done by navigating to File>Upload Disk Image. It will accept files with the <code>.iso</code> or <code>.qcow2</code> extensions</p>
        <p>If Chrome is being used, a progress bar will show at the bottom left-hand corner of the screen as per the above GIF. This currently doesn't happen for Edge or Firefox.</p>
        <p>Once the image has been uploaded, however, the page will refresh and the uploaded disk image will appear in the sidebar.</p>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/remove_image.gif' %}"/>
        <p>Multiple disk images can be selected for removal for shift clicking or ctrl clicking the names in the selection box.</p>
        <h3>Device Creation</h3>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/add_device.gif' %}"/>
        <p>Dragging a device onto the canvas produces a form in which the specifications of the device are entered, such as CPU and RAM. These can be entered via a slider (if one is provided) or via a text box.</p>
        <h2>Device/Context Menus</h2>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/context_menus.png' %}"/>
        <p class='pSpacing'>Right clicking on a device generates a context menu to provide functionality specific to that device. Connecting/unconnecting to the internet will create another NIC on the device that enables full internet activity with DNS resolution.</p>
        <h3>Telnet/VNC</h3>
        <p>Telnet and VNC are available for accessing a device.</p>
        <h2>VNC</h2>
        <p>VNC will open a seperate window displaying a desktop screen, the same as display output for a given device. This relies on a websocket for proxying connections, that comes installed with Beekeeper. So if it does not work, this would mean that it hasn't started. There is a script <code>start_ws.sh</code> in the /Beekeeper-WebUI directory. This can be executed using:</p>
        <kbd>$ sudo ./start_ws.sh<br /></kbd>
        <p class='pSpacing'>If the websocket is already running, it may need to be restarted.</p>
        <h2>Telnet</h2>
        <p>Some devices, such as Cisco routers/switches, will run in headless mode and won't really have a desktop which the user can interact with using VNC.</p>
        <p>Telnet makes a connection through to the serial port of the device, giving a connection through the the Command Line Interface of a device. this is supported on a few browsers:</p>
        <table>
          <thead>
            <tr>
              <th>Web Browser</th>
              <th>Google Chrome</th>
              <th>Microsoft Edge</th>
              <th>Mozilla Firefox</th>
              <th>Safari (MacOS)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Support for Telnet</th>
              <th><span class="glyphicon glyphicon-ok"></span></th>
              <th><span class="glyphicon glyphicon-remove"></span></th>
              <th><span class="glyphicon glyphicon-ok"></span></th>
              <th><span class="glyphicon glyphicon-remove"></span></th>
            </tr>
          </tbody>
        </table>
        <p class='pSpacing'>Telnet is configured for the device directly by Beekeeper, so where your browser does not support it, it will provide the host and port in the search bar of the browser which can be used for telnet from a desktop client such as the terminal or PuTTY:</p>
        <img style="padding: 10px;"  src="{% static 'get_started_guide/telnet.png' %}"/>
      </div>
    </div>
  </div>
</body>
<script>
  host = window.location.host
  document.getElementById('window_location').innerText = `http://${host}/admin`
</script>
