#sidebarContainer {
  position: absolute;
  overflow: hidden;
  width: 120px;
  height: 350px;
  margin: 10px;
  background: yellowgreen;
}
#graphContainer {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background: white;
  cursor: default;
}
