#sidebarContainer {
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 85vh;
  margin: 40px;
  border-radius: 5px;
  overflow-y: scroll;
}

#toolbarContainer{
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  top: 0px;
  left: 0px;
  max-height: 24px;
  height: 36px;
  right: 0px;
  padding: 2px;
}

#graphContainer {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  cursor: default;
}

#sidebarItem {
  margin: auto;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#messagesContainer{
  position: absolute;
  overflow: hidden;
  cursor: default;
}

